<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Vitalio.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C77ABAA84F2AD3AF3D53A05E81F94A17D2B0D8F3</string>
				<key>dateExpires</key>
				<string>16/03/26</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7BCQCGA365.com.criteriontech.vitalio</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>7BCQCGA365</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Vitalio.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>1e0db851-16f3-4a76-9cb0-35f721356b47</string>
				<key>dateExpires</key>
				<string>16/03/26</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.criteriontech.vitalio</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7BCQCGA365</string>
				<key>name</key>
				<string>CRITERION TECH PRIVATE LIMITED</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
